[ghq]
	root = ~/src

[color]
  ui = true

[pull]
  rebase = true

[alias]
  co = checkout
  cb = checkout -b
  st = status -sb
  br = branch
  pr = pull --rebase
  fo = fetch origin
  ro = rebase origin
  rc = rebase --continue
  wd = diff --word-diff
  lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
  cm = commit -m
  gr = grep
  bd = branch -d
  bdd = !git branch | grep -v master | grep -v stable | xargs git branch -d
  bdf = !git branch | grep -v master | grep -v stable | xargs git branch -D
  showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
[user]
	name = nano041214
	email = nano.041214@gmail.com
